.bg {
  background-image: url("../images/px-bliss.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.work-template {
  background-image: url("../images/projects/wagmi/wagmi-web-background.png");
  background-position: 50% 50%;
  background-size: 500px;
}

#container {
  margin: -20px;
}

.test-bg {
  background-image: url("/images/bliss-background.jpeg");
}

.sampler-bg {
  background-image: url("../images/projects/sampler/Pattern-collage-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.all-u-ca-eat-bg {
  background-image: url("../images/projects/allUCanEat/food-bg.gif");
  background-position: 50% 70%;
  background-size: 200px;
}

.twitch-bg {
  background-image: url("../images/projects/twitch/glitch\ animation\ square.gif");
  background-position: 50% 70%;
  background-size: 90px;
}

.welcome-to-slyder-festival-bg {
  background-image: url("../images/projects/slyder-fest/slyder-invite.jpeg");
  background-position: 50% 70%;
  background-size: 800px;
}

.microbe-psychic-bg {
  background-image: url("../images/projects/microbepsychic/microbe\ patterns_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.tclf-bg {
  background-image: url("../images/projects/tclf/tclf-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.no-bg {
  background-image: none;
}
