.bg {
  background-image: url("../images/px-bliss.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#work-template {
  background-image: url("../images/projects/wagmi/wagmi-web-background.png");
  background-position: 50% 50%;
  background-size: 500px;
}

#eat-bg {
  background-image: url("../images/projects/allUCanEat/food-bg.gif");
  background-position: 50% 70%;
  background-size: 300px;
}

#work-template.read-mode,
#eat-bg.read-mode {
  background-image: none;
  background-color: #f4f4f4;
}

.page-bg.read-mode {
  background-image: none;
  background-color: #f4f4f4;
}

#container {
  margin: -20px;
}

.test-bg {
  background-image: url("/images/bliss-background.jpeg");
}

.no-bg {
  background-image: none;
}
