.bg {
  background-image: url("../images/px-bliss.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.work-template {
  background-image: url("../images/projects/wagmi/wagmi-web-background.png");
  background-position: 50% 50%;
  background-size: 500px;
}

#container {
  margin: -20px;
}

.test-bg {
  background-image: url("/images/bliss-background.jpeg");
}

.all-u-can-eat-bg {
  background-image: url("../images/projects/allUCanEat/food-bg.gif");
  background-position: 50% 70%;
  background-size: 300px;
}

.no-bg {
  background-image: none;
}
