/* default to border-box */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  height: 100vh;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: url("../images/cursor.svg"), auto;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  width: 100%;
  max-width: 100%;
}

/* NAV BAR*/

nav {
  width: 92vw;
  height: 60px;
  padding: 10px 7.5px 10px 7.5px;
  margin: 10px auto 0 auto;
  /* position: absolute; */
}

.nav-buttons,
.buttons {
  width: 40px;
  height: 40px;
  border: 2px outset #ffffff;
  margin-right: 3px;
  padding: 6px;
  margin-top: -3px;
  box-shadow: 2px 2px 1px black;
  cursor: pointer;
  font-family: NeueBit;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 100%;
}

nav button:nth-child(3) {
  width: 40px;
  height: 40px;
  border: 2px outset #ffffff;
  margin-right: 30px;
}

.nav-buttons img .buttons img {
  width: 30px;
}

.nav-logo {
  background-image: url("../images/profile/white-256.png");
  background-size: cover;
  width: 55px;
  height: 55px;
  float: right;
  margin: -10px -7.5px;
  border: 2px inset #bebebe;
}

.m-hide {
  display: none;
}
/* GENERAL */

.container-browser {
  width: 92vw;
  height: calc(96vh - 60px);
  /* left: 0;
  top: 60px;
  position: fixed; */
  overflow: scroll;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  overflow-x: hidden;
}

.blue {
  color: #3d36ff;
}

.pad-20 {
  padding: 20px;
}

#remove {
  display: block;
}

/* IMAGE CAROUSAL */
.carousel-container {
  width: 100%;
  position: relative;
  transform-origin: 50% 50%;
}

.img-slides {
  width: calc(100% - 120px);
  margin: 0 auto;
}

.arrow-left {
  position: absolute;
  top: 47%;
  left: 0px;
}

.arrow-right {
  position: absolute;
  top: 47%;
  right: 0px;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe;
  border: 2px outset #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* HOME PAGE*/
#enter-button {
  position: absolute;
  /* z-index: 10; */
  left: 50%;
  top: 70%;
  width: auto;
  transform: translate(-50%, -50%);
}

.side-nav {
  height: 40px;
  width: 100%;
}

.side-box {
  position: absolute;
  background-color: #fffefe;
  top: 15%;
  right: calc(50vw-150px);
  margin: 30px;
  width: 300px;
  max-height: 50vh;
}

.x {
  float: right;
  width: 30px;
  height: 30px;
  margin: 2px;
}

.blink {
  animation: blinker 1s step-start infinite;
  color: black;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

/* MENU PAGE */

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menu-block {
  display: inline-block;
  margin-bottom: 20px;
}

.menu-block h4 {
  margin: 0;
}

.menu-titles {
  padding-top: 10px;
}

form {
  display: flex;
  height: 3rem;
  align-items: baseline;
}

select {
  margin-left: 10px;
  font-size: 16px;
}

option {
  font-size: 16px;
}

/* INFO PAGE */

#info-profile {
  width: 5vw;
  height: 5vw;
}

/* WORK PAGE*/
.hero-image {
  width: calc(100%+40px);
  margin: -20px -20px 0 -20px;
}

.hero-image img {
  width: 100%;
}

.section-title {
  background-color: #ffff32;
  padding: 2px;
  margin-top: 20px;
}

.show-title {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.hide {
  width: 100%;
  display: none;
}

.vertical-video {
  padding: calc(96vh - 40px) 0 0 0;
  position: relative;
}

.gallery-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-2 img {
  width: 100%;
}

.gallery-2-child {
  width: 100%;
  padding: 120% 0 0 0;
  position: relative;
}

.gallery-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-bleed {
  text-align: center;
}

@media (min-width: 768px) {
  /* NAV */
  nav {
    width: 85vw;
    max-width: 1800px;
    margin: 2.5vh auto 0;
    padding: 5px;
  }

  .nav-logo {
    margin: -5px;
  }

  .container-browser {
    width: 85vw;
    max-width: 1800px;
    height: 87vh;
    margin: 0 auto;
  }

  .m-hide {
    display: initial;
  }

  .nav-buttons,
  .buttons {
    width: 45px;
    height: 45px;
    margin-top: 0;
  }

  .nav-buttons:hover,
  .buttons:hover {
    box-shadow: 0px 0px 1px black;
  }

  nav button:nth-child(3),
  nav button:nth-child(5) {
    width: 45px;
    height: 45px;
  }

  /* GENERAL */

  .text-container {
    margin: 20px auto;
  }

  /* INDEX PAGE*/
  .side-nav {
    height: 40px;
    width: 100%;
  }
  .side-box {
    position: absolute;
    background-color: #fffefe;
    top: 40%;
    right: 3%;
    min-width: 200px;
    max-width: 20vw;
  }

  .x {
    float: right;
    width: 32px;
    height: 32px;
  }

  .side-box-02 {
    position: absolute;
    background-color: #fffefe;
    top: 10%;
    right: 25%;
    min-width: 200px;
    max-width: 20vw;
  }

  .side-box-03 {
    position: absolute;
    background-color: #fffefe;
    top: 50%;
    left: 15%;
    min-width: 300px;
    max-width: 20vw;
  }

  /* MENU PAGE */
  .menu {
    margin: 30px 10px;
  }
  .menu-block {
    width: auto;
  }

  .menu-block img {
    height: 30vh;
    /* max-width: 45vw; */
    object-fit: contain;
  }

  .menu-titles {
    padding: 10px;
  }

  .section-title {
    display: inline-block;
    margin: 0;
  }

  /* WORK PAGE */

  .text-2-column {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 0;
  }
  .text-left {
    grid-column-start: 1;
    max-width: 300px;
    float: left;
  }

  .text-right {
    grid-column: 2 / span 2;
    max-width: 750px;
    border-left: 1px dotted #000;
    padding-left: 40px;
  }

  .vertical-video {
    padding: 87vh 0 0 0;
    position: relative;
  }

  .gallery-2 img {
    width: 49%;
  }
  .gallery-2-child {
    width: 49%;
    padding: 60% 0 0 0;
    position: relative;
  }

  .gallery-3 {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
    padding: 10px 0; */
    padding: 40px;
  }

  .gallery-3 img {
    max-width: 30%;
  }
}
